<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>todo</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h2>title</h2>
  <div id="app">
    <div id="card" v-for="(list, i) in todo">
      <template v-if="todos.isEditing === false">
        <span>{{i}}:{{list}}</span>
        <button v-on:click="onEdit(true, i)">編集</button>
        <button v-on:click="deleteBtn(i)">削除</button>
      </template>
      <template v-if="todos.isEditing === true">
        <input v-model="todo[i]">
        <button v-on:click="offEdit(false, i)">確定</button>
        <button v-on:click="deleteBtn(i)">削除</button>
      </template>
    </div>

    <div id="writing_area">
      <input v-model="text" ref="focusInput">
      <div v-on:click="addBtn">追加</div>
    </div>
  </div>


  <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>
